force-app/main/default/flows/DashboardTargets_Contact_targets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SOQL_Query</name>
        <label>SOQL Query</label>
        <locationX>226</locationX>
        <locationY>371</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_New_Target</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>Loop.SOQL_Query__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>502</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>colvarDashboardTargetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Target</name>
        <label>Assign New Target</label>
        <locationX>349</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>Loop.Target__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SOQL_Query.sObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Runs for DashboardTarget records that look at Contacts</description>
    <interviewLabel>DashboardTargets_Contact targets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DashboardTargets_Contact targets</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>316</locationX>
        <locationY>207</locationY>
        <collectionReference>DashboardTargets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SOQL_Query</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DashboardTargets</name>
        <label>DashboardTargets</label>
        <locationX>168</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>SOQL_Query__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DashboardTarget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All</name>
        <label>Update All</label>
        <locationX>521</locationX>
        <locationY>207</locationY>
        <inputReference>colvarDashboardTargetsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>DashboardTargets</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colvarDashboardTargetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DashboardTarget__c</objectType>
    </variables>
    <variables>
        <name>varSOQLasString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
